extends layout 

block content 
    header 
        h1= 'Message Board'
        p= 'speak your mind freely'
    main
        section.form-container 
            form(method='POST' action='/new')
                input(type='text', placeholder='Title' name='title' id='title')
                br
                input(type='text' placeholder='Username' name='username' id='username')
                br
                button(type='submit' id='submit-btn')= 'post'